In [1]:
%defaultDatasource jdbc:h2:mem:db

# Criação da Tabela de Players

In [2]:
DROP Table IF EXISTS Players;

CREATE TABLE Players (
    Username VARCHAR(25) NOT NULL,
    Title VARCHAR(3),
    Bullet INTEGER,
    Blitz INTEGER,
    Rapid INTEGER,
    SiteName VARCHAR(10) NOT NULL,
    PRIMARY KEY(Username, SiteName)
) AS SELECT
    username,
    title,
    bullet_rating,
    blitz_rating,
    rapid_rating,
    site_name
    FROM CSVREAD('../data/processed/all_player_list.csv')

In [10]:
SELECT * FROM Players

# Criação da Tabela de Jogos

In [4]:
DROP Table IF EXISTS Games;

CREATE TABLE Games (
    Id VARCHAR(40) NOT NULL,
    Ranked BOOLEAN NOT NULL,
    Time_control VARCHAR(20) NOT NULL,
    Result VARCHAR(20) NOT NULL,
    Winner VARCHAR(25),
    White VARCHAR(25) NOT NULL,
    Black VARCHAR(25) NOT NULL,
    Moves VARCHAR(9999),
    Openings VARCHAR(95),
    SiteName VARCHAR(10) NOT NULL,
    PRIMARY KEY(Id),
) AS SELECT
    id,
    ranked,
    time_control,
    status,
    winner,
    white,
    black,
    moves,
    opening,
    site_name
    FROM CSVREAD('../data/processed/all_games.csv')

In [11]:
SELECT * FROM Games

# Criação da Tabela de Openings

In [5]:
DROP Table IF EXISTS Openings;

CREATE TABLE Openings (
    Eco VARCHAR(3),
    Opening VARCHAR(95),
    Pgn VARCHAR(210),
    PRIMARY KEY (Pgn)
) AS SELECT
    eco,
    name,
    pgn
    FROM CSVREAD('../data/processed/openings.csv')

In [6]:
SELECT * FROM Openings

# Análises realizadas no Database

In [9]:
SELECT * FROM Games G
    LEFT JOIN Players PW
    ON G.white = PW.Username AND G.SiteName = PW.SiteName
    LEFT JOIN Players PB
    ON G.black = PB.Username AND G.SiteName = PB.SiteName

org.h2.jdbc.JdbcSQLException:  Duplicate column name "SITENAME"; SQL statement

In [21]:
DROP TABLE IF EXISTS Winner;

CREATE VIEW Winner AS
SELECT P.Username, COUNT(*) Ganhadores
    FROM Games G, Players P
    WHERE G.Winner = P.Username
    GROUP BY P.Username;

SELECT P.Username 
FROM Winner W, Players P
WHERE W.Username = P.Username AND W.Ganhadores = (SELECT MAX(Winner.Ganhadores) FROM Winner)