In [1]:
%defaultDatasource jdbc:h2:mem:db

In [ ]:
DROP TABLE IF EXISTS TakesPromotion;
DROP TABLE IF EXISTS Promotion;
DROP TABLE IF EXISTS PieceMove;
DROP TABLE IF EXISTS PawnTakes;
DROP TABLE IF EXISTS PawnMove;
DROP TABLE IF EXISTS Castle;
DROP TABLE IF EXISTS Takes;
DROP TABLE IF EXISTS Mated;
DROP TABLE IF EXISTS RoqueG;
DROP TABLE IF EXISTS RoqueC;
DROP TABLE IF EXISTS AllG;
DROP TABLE IF EXISTS Winner;
DROP TABLE IF EXISTS MaxOpenings;
DROP Table IF EXISTS Players;
DROP Table IF EXISTS Games;
DROP Table IF EXISTS Openings;

# Criação da Tabela de Players

In [2]:
DROP Table IF EXISTS Players;

CREATE TABLE Players (
    Username VARCHAR(25) NOT NULL,
    Title VARCHAR(3),
    Bullet INTEGER,
    Blitz INTEGER,
    Rapid INTEGER,
    SiteName VARCHAR(10) NOT NULL,
    PRIMARY KEY(Username, SiteName)
) AS SELECT
    username,
    title,
    bullet_rating,
    blitz_rating,
    rapid_rating,
    site_name
    FROM CSVREAD('../data/processed/all_player_list.csv')

In [31]:
SELECT * FROM Players

# Criação da Tabela de Jogos

In [3]:
DROP Table IF EXISTS Games;

CREATE TABLE Games (
    Id VARCHAR(40) NOT NULL,
    Ranked BOOLEAN NOT NULL,
    Time_control VARCHAR(20) NOT NULL,
    Result VARCHAR(20) NOT NULL,
    Winner VARCHAR(25),
    White VARCHAR(25) NOT NULL,
    Black VARCHAR(25) NOT NULL,
    Moves VARCHAR(9999),
    Openings VARCHAR(95),
    SiteName VARCHAR(10) NOT NULL,
    PRIMARY KEY(Id),
) AS SELECT
    id,
    ranked,
    time_control,
    status,
    winner,
    white,
    black,
    moves,
    opening,
    site_name
    FROM CSVREAD('../data/processed/all_games.csv')

In [32]:
SELECT * FROM Games G

# Criação da Tabela de Openings

In [4]:
DROP Table IF EXISTS Openings;

CREATE TABLE Openings (
    Eco VARCHAR(3),
    Opening VARCHAR(95),
    Pgn VARCHAR(210),
    PRIMARY KEY (Pgn)
) AS SELECT
    eco,
    name,
    pgn
    FROM CSVREAD('../data/processed/openings.csv')

In [33]:
SELECT * FROM Openings

# Análises realizadas no Database

In [34]:
SELECT * FROM Games G
    LEFT JOIN Players PW
    ON G.white = PW.Username AND G.SiteName = PW.SiteName
    LEFT JOIN Players PB
    ON G.black = PB.Username AND G.SiteName = PB.SiteName

In [35]:
DROP TABLE IF EXISTS Winner;

CREATE VIEW Winner AS
SELECT P.Username, COUNT(*) Ganhadores
    FROM Games G, Players P
    WHERE G.Winner = P.Username AND G.SiteName = 'lichess'
    GROUP BY P.Username;

SELECT P.Username, P.Title, P.SiteName, W.Ganhadores
FROM Winner W, Players P
WHERE W.Username = P.Username AND W.Ganhadores = (SELECT MAX(Winner.Ganhadores) FROM Winner)

In [36]:
DROP TABLE IF EXISTS MaxOpenings;

CREATE VIEW MaxOpenings AS
SELECT G.Openings, COUNT(*) Aberturas
    FROM Games G, Players P
    WHERE P.Username = 'kirillgenius' AND (P.Username = G.White OR P.Username = G.Black)
    GROUP BY G.Openings
    ORDER BY COUNT(*) DESC;

SELECT * FROM MaxOpenings

In [37]:
SELECT G.result, COUNT (*) OCORRENCIAS
FROM Games G
GROUP BY G.result
ORDER BY OCORRENCIAS DESC

In [38]:
SELECT X.winner, COUNT (*) WINS
FROM (SELECT G.result, G.winner,G.white,G.black
FROM Games G
WHERE G.winner = G.white OR G.winner = G.Black) X
GROUP BY X.winner
ORDER BY WINS DESC;

In [10]:
SELECT G.Result, P.Title, COUNT(*) Resultados, COUNT(*) Title
    FROM Games G, Players P
    GROUP BY G.Result, P.Title;

SELECT distributor_id,
    count(*) AS total,
    sum(case when level = 'exec' then 1 else 0 end) AS ExecCount,
    sum(case when level = 'personal' then 1 else 0 end) AS PersonalCount
FROM yourtable
GROUP BY distributor_id

In [5]:
DROP TABLE IF EXISTS RoqueG;
DROP TABLE IF EXISTS RoqueC;
DROP TABLE IF EXISTS AllG;

CREATE VIEW AllG AS
SELECT COUNT(*) Total
FROM GAMES G;

CREATE VIEW RoqueG AS
SELECT COUNT(*) RoqueGrande
FROM GAMES G 
WHERE MOVES like '%O-O-O%';

CREATE VIEW RoqueC AS
SELECT COUNT(*) RoqueCurto
FROM GAMES G 
WHERE MOVES like '% O-O %' OR MOVES like '% O-O+%' OR MOVES like '% O-O#%';

SELECT G.Total, RG.RoqueGrande, RC.RoqueCurto, (RG.RoqueGrande + RC.RoqueCurto) AS Roques
FROM RoqueG RG, RoqueC RC, AllG G

In [58]:
DROP TABLE IF EXISTS TakesPromotion;
DROP TABLE IF EXISTS Promotion;
DROP TABLE IF EXISTS PieceMove;
DROP TABLE IF EXISTS PawnTakes;
DROP TABLE IF EXISTS PawnMove;
DROP TABLE IF EXISTS Castle;
DROP TABLE IF EXISTS Takes;
DROP TABLE IF EXISTS Mated;

CREATE VIEW Mated AS
    SELECT *
    FROM GAMES G
    WHERE MOVES like '%#%';

CREATE VIEW TakesPromotion AS
    SELECT LEFT(RIGHT(M.MOVES,11),7)
    FROM Mated M
    WHERE CHARINDEX(' ', LEFT(RIGHT(M.MOVES,11),7)) = 0;

CREATE VIEW PawnMove AS
    SELECT LEFT(RIGHT(M.MOVES,11),7)
    FROM Mated M
    WHERE CHARINDEX(' ', LEFT(RIGHT(M.MOVES,11),7)) = 0;

SELECT * From TakesPromotion