In [9]:
import numpy as np
import pandas as pd

In [62]:
a = pd.read_csv('../data/raw/openings/a.tsv', sep='\t')
b = pd.read_csv('../data/raw/openings/b.tsv', sep='\t')
c = pd.read_csv('../data/raw/openings/c.tsv', sep='\t')
d = pd.read_csv('../data/raw/openings/d.tsv', sep='\t')
e = pd.read_csv('../data/raw/openings/e.tsv', sep='\t')

In [63]:
openings = pd.concat([a,b,c,d,e])

In [64]:
openings.reset_index(drop=True, inplace=True)

In [56]:
openings['name'].value_counts()
openings[openings['name'] == 'Alekhine Defense']

     eco              name                                 pgn
842  B02  Alekhine Defense                           1. e4 Nf6
870  B03  Alekhine Defense           1. e4 Nf6 2. e5 Nd5 3. d4
871  B03  Alekhine Defense        1. e4 Nf6 2. e5 Nd5 3. d4 d6
872  B03  Alekhine Defense  1. e4 Nf6 2. e5 Nd5 3. d4 d6 4. c4

In [57]:
openings.sort_values(by='name', inplace=True, ignore_index=True)
openings

,eco,name,pgn
0,B03,Alekhine Defense,1. e4 Nf6 2. e5 Nd5 3. d4
1,B02,Alekhine Defense,1. e4 Nf6
2,B03,Alekhine Defense,1. e4 Nf6 2. e5 Nd5 3. d4 d6
3,B03,Alekhine Defense,1. e4 Nf6 2. e5 Nd5 3. d4 d6 4. c4
4,B03,Alekhine Defense: Balogh Variation,1. e4 Nf6 2. e5 Nd5 3. d4 d6 4. Bc4
...,...,...,...
3392,A04,Zukertort Opening: The Walrus,1. Nf3 e5 2. Nxe5 Nc6 3. Nxc6 dxc6
3393,A04,Zukertort Opening: Vos Gambit,1. Nf3 d6 2. d4 e5
3394,A04,Zukertort Opening: Wade Defense,1. Nf3 d6 2. e4 Bg4
3395,A41,"Zukertort Opening: Wade Defense, Chigorin Plan",1. d4 d6 2. Nf3 Bg4 3. c4 Nd7 4. Qb3 Rb8
3396,A04,Zukertort Opening: Ware Defense,1. Nf3 a5

In [58]:
k = openings['name'][0]
cont = 1
for i in range(1, len(openings)):
    if openings['name'][i] == k:
        openings['name'][i] = openings['name'][i] + str(cont)
        cont += 1
    else:
        k = openings['name'][i]
        cont = 1
openings

,eco,name,pgn
0,B03,Alekhine Defense,1. e4 Nf6 2. e5 Nd5 3. d4
1,B02,Alekhine Defense1,1. e4 Nf6
2,B03,Alekhine Defense2,1. e4 Nf6 2. e5 Nd5 3. d4 d6
3,B03,Alekhine Defense3,1. e4 Nf6 2. e5 Nd5 3. d4 d6 4. c4
4,B03,Alekhine Defense: Balogh Variation,1. e4 Nf6 2. e5 Nd5 3. d4 d6 4. Bc4
...,...,...,...
3392,A04,Zukertort Opening: The Walrus,1. Nf3 e5 2. Nxe5 Nc6 3. Nxc6 dxc6
3393,A04,Zukertort Opening: Vos Gambit,1. Nf3 d6 2. d4 e5
3394,A04,Zukertort Opening: Wade Defense,1. Nf3 d6 2. e4 Bg4
3395,A41,"Zukertort Opening: Wade Defense, Chigorin Plan",1. d4 d6 2. Nf3 Bg4 3. c4 Nd7 4. Qb3 Rb8
3396,A04,Zukertort Opening: Ware Defense,1. Nf3 a5

In [60]:
openings['name'].value_counts()
openings[openings['name'] == 'Sicilian Defense: Closed']

      eco                      name                           pgn
2816  B24  Sicilian Defense: Closed  1. e4 c5 2. Nc3 Nc6 3. g3 g6

In [65]:
openings.to_csv('../data/processed/openings.csv', index=False)

In [66]:
openings['name'].map(lambda x: len(x)).max()

90

In [67]:
openings['pgn'].map(lambda x: len(x)).max()

202