In [1]:
import numpy as np
import pandas as pd

In [9]:
lichess = pd.read_csv('../lichess/player_list.csv')
chesscom = pd.read_csv('../chesscom/player_list_chess_com.csv')

In [10]:
lichess['site_name'] = 'lichess'
lichess.drop_duplicates(subset=['username'], keep='last', inplace=True)

In [11]:
chesscom['site_name'] = 'chess.com'
chesscom.drop_duplicates(subset=['username'], keep='last', inplace=True)

In [12]:
allplayers = pd.concat([lichess, chesscom])

In [13]:
allplayers.reset_index(drop=True)

,username,title,bullet_rating,blitz_rating,rapid_rating,site_name
0,DrGrekenstein,GM,3172,2901,0,lichess
1,Blazinq,FM,2504,2064,0,lichess
2,Federicov93,GM,2083,2506,2602,lichess
3,EltajSafarli,GM,2635,1565,2533,lichess
4,HouseMartell,FM,2404,1963,1856,lichess
...,...,...,...,...,...,...
9003,yaris9,WGM,2440,2451,2330,chess.com
9004,yennefer1,WGM,2304,2436,2267,chess.com
9005,yileai,WGM,0,2314,2167,chess.com
9006,zefirka,WGM,2443,2463,1980,chess.com
9007,zombik1,WGM,0,2372,0,chess.com

In [15]:
allplayers.to_csv('all_player_list.csv', index=False)

In [16]:
teste = pd.read_csv('all_player_list.csv')
teste['username'].value_counts()

tacticthunder          2
orrbaverlekszarnyon    2
msb2                   2
bouzidian              2
ferdipy                2
                      ..
psvidler               1
psakhislev             1
promen1999             1
profylax               1
zombik1                1
Name: username, Length: 8874, dtype: int64

In [21]:
teste[teste['username'] == 'msb2']

     username title  bullet_rating  blitz_rating  rapid_rating  site_name
1086     msb2    GM           2997          2818             0    lichess
2932     msb2    GM           2864          2897          2617  chess.com