In [2]:
import numpy as np
import pandas as pd

In [5]:
a = pd.read_csv('a.tsv', sep='\t')
b = pd.read_csv('b.tsv', sep='\t')
c = pd.read_csv('c.tsv', sep='\t')
d = pd.read_csv('d.tsv', sep='\t')
e = pd.read_csv('e.tsv', sep='\t')

In [6]:
openings = pd.concat([a,b,c,d,e])

In [8]:
openings.reset_index(drop=True)

,eco,name,pgn
0,A00,Amar Gambit,1. Nh3 d5 2. g3 e5 3. f4 Bxh3 4. Bxh3 exf4
1,A00,Amar Opening,1. Nh3
2,A00,Amar Opening: Gent Gambit,1. Nh3 d5 2. g3 e5 3. f4 Bxh3 4. Bxh3 exf4 5. ...
3,A00,Amar Opening: Paris Gambit,1. Nh3 d5 2. g3 e5 3. f4
4,A00,Amsterdam Attack,1. e3 e5 2. c4 d6 3. Nc3 Nc6 4. b3 Nf6
...,...,...,...
3392,E98,"King's Indian Defense: Orthodox Variation, Cla...",1. d4 Nf6 2. c4 g6 3. Nc3 Bg7 4. e4 d6 5. Nf3 ...
3393,E98,"King's Indian Defense: Orthodox Variation, Cla...",1. d4 Nf6 2. c4 g6 3. Nc3 Bg7 4. e4 d6 5. Nf3 ...
3394,E98,"King's Indian Defense: Orthodox Variation, Cla...",1. d4 Nf6 2. c4 g6 3. Nc3 Bg7 4. e4 d6 5. Nf3 ...
3395,E99,"King's Indian Defense: Orthodox Variation, Cla...",1. d4 Nf6 2. c4 g6 3. Nc3 Bg7 4. e4 d6 5. Nf3 ...
3396,E99,"King's Indian Defense: Orthodox Variation, Cla...",1. d4 Nf6 2. c4 g6 3. Nc3 Bg7 4. e4 d6 5. Nf3 ...

In [9]:
openings.to_csv('openings.csv', index=False)

In [18]:
openings['name'].map(lambda x: len(x)).max()

90

In [19]:
openings['pgn'].map(lambda x: len(x)).max()

202