In [2]:
%defaultDatasource jdbc:h2:mem:db

# Criação da Tabela de Players

In [5]:
DROP Table IF EXISTS Players;

CREATE TABLE Players (
    Username VARCHAR(25) NOT NULL,
    Title VARCHAR(3),
    Bullet INTEGER,
    Blitz INTEGER,
    Rapid INTEGER,
    SiteName VARCHAR(10) NOT NULL,
    PRIMARY KEY(Username, SiteName)
) AS SELECT
    username,
    title,
    bullet_rating,
    blitz_rating,
    rapid_rating,
    site_name
    FROM CSVREAD('../conjunto/all_player_list.csv')

In [7]:
SELECT * FROM Players

# Criação da Tabela de Jogos

In [ ]:
DROP Table IF EXISTS Games;

CREATE TABLE Games (
    Id VARCHAR(40) NOT NULL,
    Ranked BOOLEAN NOT NULL,
    Time_control VARCHAR(10) NOT NULL,
    Result VARCHAR(15) NOT NULL,
    Winner VARCHAR(25),
    White VARCHAR(25) NOT NULL,
    Black VARCHAR(25) NOT NULL,
    Moves VARCHAR(9999) NOT NULL,
    Openings VARCHAR(95),
    PRIMARY KEY(Id),
    FOREIGN KEY(Winner)
        REFERENCES Players(Username)
        ON DELETE NO ACTION
        ON UPDATE NO ACTION,
    FOREIGN KEY(White)
        REFERENCES Players(Username)
        ON DELETE NO ACTION
        ON UPDATE NO ACTION,
    FOREIGN KEY(Black)
        REFERENCES Players(Username)
        ON DELETE NO ACTION
        ON UPDATE NO ACTION,
    FOREIGN KEY(Openings)
        REFERENCES Openings(Opening)
        ON DELETE NO ACTION
        ON UPDATE NO ACTION,
) AS SELECT
    id,
    ranked,
    time_control,
    'status',
    winner,
    white,
    black,
    moves,
    opening
    FROM CSVREAD()

# Criação da Tabela de Openings

In [4]:
DROP Table IF EXISTS Openings;

CREATE TABLE Openings (
    Eco VARCHAR(3),
    Opening VARCHAR(95),
    Pgn VARCHAR(210),
    PRIMARY KEY (Opening, Pgn)
) AS SELECT
    eco,
    name,
    pgn
    FROM CSVREAD('../openings/openings.csv')

org.h2.jdbc.JdbcSQLException:  Unique index or primary key violation